
.bsky-wrapper {

	display: grid;
	column-gap: 20px;
	row-gap: 20px;
	justify-content: center;
	clear: both;

}

@media only screen and (min-width: 700px) {
	.bsky-wrapper {
		grid-template-columns: auto auto;
	}
}

@media only screen and (min-width: 1200px) {
	.bsky-wrapper {
		grid-template-columns: auto auto auto;
	}
}

.bsky-item {
	display: flex;
	flex-flow: column;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 10px;
}

@media only screen and (min-width: 700px) {
	.bsky-item {
		max-width: 330px;
	}
}

.bsky-item p {
	padding: 0;
	margin: 0 0 1rem 0;
}

.bsky-item img {
	margin: 0;
	margin-right: 10px;
}

.bsky-user-and-created p {
	margin-bottom: 2rem;
}

.bsky-user-and-created img {
	margin-right: 10px;
}

.bsky-item-stats {
	margin-top: auto;
	opacity: 0.5;
}

.bsky-item-stats p {
	margin: 0;
}